* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background :linear-gradient(125deg,rgb(36, 36, 235),rgb(183, 195, 249));
    background-size:contain;
    background-position: center;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: o;


}
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    
}
.side-bar {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 114);
    border-radius: 30px;
    width:6vw;
    margin: 1rem;
    flex-direction: column;
        align-items: center;
        gap: clamp(1rem, 3vw, 3rem);
        padding-top: 2rem;
          box-shadow: 0 4px 15px rgba(1, 195, 209, 0.3);
    transition: transform 0.2s,box-shadow 0.2s;
}
.side-bar:hover{
     transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);

}
.item.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: rgb(218, 211, 211);
}


.side-bar h2{
color: white;
font-size: 0.8rem;

}
/* main content*/
.main-content{
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 2rem);
    margin-left: 2rem;
}
/* search bar */
.search-bar {
    border: none;
    border-radius: 20px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.704);
    flex-direction: row !important;
    width: 100%;
    height:8vh;
    max-width: 500px;
    margin-top: 1rem;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s,box-shadow 0.2s;


}
.side-bar a{
    color: bisque;
}
.search-bar:hover{
      transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);
}
.search-bar input {
    
    border: none;
    outline: none;
    font-size:1rem;
    background-color: transparent;
    height: 7vh;
    padding-right: 8rem;
    margin-left: 2rem;
    
    color: white;
    

    

}
.search-bar button{
    border: none;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    background-color: none;
    

}
/* weather card*/
.weather-card{
    background-image: url('./assets/HD\ wallpaper_\ Dolomiti\ Italy\ Autumn\ Lago\ Antorno\ Landscape\ Photography\ Desktop\ Hd\ Wallpaper\ For\ Pc\ Tablet\ And\ Mobile\ 3840×2400.jpg');
    border-radius: 20px;
    background-size:cover ;
    width: 100%;
    flex-direction: row;
    display: flex;
    padding: clamp(1rem, 2vw, 3rem);
    height: 40vh;
     box-shadow: 0 4px 15px rgba(1, 24, 26, 0.986);
    transition: transform 0.2s,box-shadow 0.2s;
    align-items: center;
    justify-content: center;
    
    
}
.weather-card:hover{
      transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);

}
.weather-card h2{
    display: flex;
    font-size: 2rem;
    color:rgb(136, 255, 0);


    margin-top: -1.2rem;
    font-family: cursive;

}   
.weather-card p{
    display: flex;
    font-size: 0.8rem;
    color:rgb(2, 16, 43);
    -webkit-text-stroke: 0.9px black;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  
.weather-card img{
    width: 3rem;
    height: 5rem;
    

    margin-left: 2rem;
} 
.weather-card h3{
    display: flex;
    margin-left:1rem;
    font-size: 1.5rem;
    color:white;
    -webkit-text-stroke: 1px black;
    
    
}
/* today forcast */
.forecast-row {
    display: flex;
    width: 90%;
    margin-left: 2rem;
    
    background-color: rgba(0, 0, 0, 0.433);
    height: 39vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
     box-shadow: 0 4px 15px rgb(1, 4, 4);
    transition: transform 0.2s,box-shadow 0.2s;
    
}  
.forecast-row:hover{
      transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);

} 
.forecast-item {
    
    overflow-x: auto;
    padding: auto;
    align-items: center;
    
}


.forecast-item h4{
    color: rgb(218, 211, 211);
    font-size: 1rem;
    
} 
.forecast-row img{
    width: 4rem;
}
.forecast-row h2{
    font-size: 1.5vw;
    color: white;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.forecast-item h3 {
    color: white;
    font-size: 1rem;
}
/* week forcast */
.week-forecast-row {
    background:linear-gradient(135deg,rgb(7, 75, 212),rgb(112, 71, 20));
    border-radius: 20px;
    width: 90%;
    margin-left: 5rem;
    align-items: center;
    height: 80vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(1, 195, 209, 0.021);
    transition: transform 0.2s,box-shadow 0.2s;
    justify-content: center;
}
.week-forecast-row:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);
}
.week-forecast-row h2{
    color: white;
    font-size: 2vw;
}
.week-forecast-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: clamp(50px, 15vh, 200px);
}
.week-forecast-item:first-child {
    border-right: none;
}
.week-forecast-item h3 {
    color: white;
    font-size: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.week-forecast-item h2{
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
    margin-right: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*history searched*/
.history-searched{
    background-color: white;
    border-radius: 20px;
    
}
.history-searched ul{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: -1rem;
    color: rgb(0, 7, 51);
    list-style: none;
    margin-left: 1rem;
    left: 0;
}
@media(max-width: 768px){
    .app-container{
        flex-direction: column;
    }
    .weather-card{
        width: 90%;
        margin-left: 2px;
        height: 30vh;
        margin-bottom: 2rem;
    }
    .weather-card h2{
        margin-top: -0.5rem;
    }
    .weather-card p{
        margin-top: -4rem;
    }
    .forecast-row{
        width: 80%;
    }
    .week-forecast-row{
        width: 60%;
        margin-left: 5rem;
    }
    .search-bar{
        width: 80%;
        margin-left:-0.5rem;
        height: 6vh;
        flex-direction: column !important;
    }

    
    .search-bar button {
        display: none;
    }
    .side-bar{
        display: none;
    

    }
    .search-bar.active{
        transform: translateY(0);
    }
    b .weather-card h2{
        
    }
}