html, body {
    background-color: rgb(19, 19, 39);
}
.side-bar {
    display: flex;
    flex-direction: column;
    width: 5vw;
    background-color: rgb(38, 38, 47);
    border-radius: 30px;
    height: 90vh;
    margin-left: 3vh;
    top: 3vh;
    gap: 5vh;
    position: fixed;
    padding-top: 11vh;
}
.side-bar h2{
color: white;
font-size: 0.8rem;

}
/* search bar */
.search-bar {
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 9vh;
    margin-bottom: 2vh;
    background-color: none;
    margin-left: 18vh;
    margin-top: 3vh;
    border-radius: 30px;
    border: none;
}
.search-bar input {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 30px 0px 0px 30px;
    padding-left: 1vh;
    background-color: rgb(38, 38, 47);
    font-size: 1rem;
    padding-left: 4vh;
}   
.search-bar button {
    width: 20%;
    height: 100%;
    border: none;
    background-color: rgb(38, 38, 47);
    color: white;
    font-size: 0.8rem;
    border-radius: 0px 30px 30px 0px;
}
/* weather card*/
.weather-card{
    background-color: rgb(38, 38, 47);
    
    width: 40vw;
    height: 20vh;
    margin-left: 25vh;
    margin-top: 10vh;
    border-radius: 30px;
    padding: 2vh;
}
.weather-card h2{
    font-size: 2rem;
    color:white;
    margin-left: -75vh;
}   
.weather-card p{
    font-size: 1rem;
    color:white;
    margin-left: -65vh;
    margin-top: -19vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  
.weather-card img{
    width: 30vh;
    height: 30vh;
    margin-top: -13vh;
    margin-right: -60vh;
} 
.weather-card h3{
    font-size: 2rem;
    color:white;
    margin-top: -3vh;
}
/* today forcast */
.forecast-row {
    background-color: rgb(109, 109, 206);
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 25vh;
    margin-left: 25vh;
    margin-top: 10vh;
    border-radius: 30px;
    padding: 2vh;
    gap: 1vh;
}   
.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-left: 8vh;
    border-right: 6px solid rgb(38, 38, 47);
    height: 10vh;
    margin-top: -2vh;
    margin-bottom: 4vh;

    padding-right: 11vh;
    
}
.forecast-item:last-child {
    border-right: none;
}
.forecast-item h4{
    color: white;
    font-size: 1.2rem;
    margin-top: 2vh;
    margin-bottom: 8vh;
}
